# Dependencies
**/node_modules
**/dist
**/.env

# IDEs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# SQLite
*.sqlite
*.sqlite-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
